<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="create_css.css">
        <link rel="stylesheet" href="fonts_css.css">

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />

        <!--Header-->
        <%- include('../partials/header'); %>
    </head>
    <body>
        <div class="has_sidebar ">
            <%- include('../partials/sidebar'); %>
            <div class="glass_efect_2 conatainer asap-condensed-regular">
                <h1 class="asap-condensed-extralight">Create</h1>
                <form action="/create" method="POST" id="create_form">
                    <input type="text" id="create_type"  name="create_type" style="display: none;">
                    <div id = 'Warehouse_div' class="create_div">
                        <label for="warehouse_title">Title : </label>
                        <input type="text" id="warehouse_title" name="warehouse_title" class="required warehouse">
                        <br>
                        <label for="warehouse_address">Address : </label>
                        <input type="text" id="warehouse_address" name="warehouse_address" class="required warehouse">
                    </div>
                    <div id = 'items_div' class="create_div">
                        <label for="items_title">Title : </label>
                        <input type="text" id="items_title" name="items_title" class="required items">
                        <br>
                        <label for="items_description">Description : </label>
                        <br>
                        <textarea id = "items_description" name = "items_description" class="required items "></textarea>
                        <br>
                        <label for="items_price_r">Price Retail : </label>
                        <input type="number" id="items_price_r" name="items_price_r"  class="required items price retale">
                        <br>
                        <div>
                            Discount for Retail : <input type="number" id="items_price_r_disc" name="items_price_r_disc" min="0" value="0" class="required items disc retale" > €<br>
                            Discount for Retail : <input type="number" id="items_price_r_disc_p" name="items_price_r_disc_p" min="0" value="0" max = "100" class="required items percent retale"> %
                        </div>                        
                        <label for="items_tax_r">Tax for Retail : </label>
                        <input type="number" id="items_tax_r" name="items_tax_r" min="0" value="0" max = "100" class="required items">
                        <br>
                        <label for="items_price_w">Price Wholesale : </label>
                        <input type="number" id="items_price_w" name="items_price_w" class="required items price wholesale">
                        <div>
                            Discount for Wholesale : <input type="number" id="items_price_w_disc" name="items_price_w_disc" min="0" value="0" class="required items disc wholesale"> €<br>
                            Discount for Wholesale : <input type="number" id="items_price_w_disc_p" name="items_price_w_disc_p" min="0" value="0" max = "100" class="required items percent wholesale"> %
                        </div>  
                        <label for="items_tax_w">Tax for Wholesale : </label>
                        <input type="number" id="items_tax_w" name="items_tax_w" min="0" value="0" max = "100" class="required items">
                    </div>
                    <div id ='series_div' class="create_div font_size_1">
                        <div>
                            <label for="series_title">Title : </label>
                            <input type="text" id="series_title" name="series_title"  class="required series input_type_2 font_size_1">
                        </div>
                       <div>
                            <label for="series_acronym">Acronym : </label>
                            <input type="text" id="series_acronym" name="series_acronym"  class="required series input_type_2 font_size_1">
                       </div>
                        <div>Loked : <input type="checkbox" name="series_sealed"></div>
                        <div>Effects Warehouse : <input type="checkbox" name="effects_warehouse"></div>
                        <div>Credit : <input type="checkbox" name="credit"></div>
                        <div>Debit : <input type="checkbox" name="debit"></div>
                        <div>Transforms : <input type="checkbox" name="transforms"></div>
                        <div id = 'transforms_to_div'>Transforms To:
                            <input type="text" name="series_transforms_list" id="series_transforms_list" style="display: none;">
                        </div>

                    </div>
                    <div id ='persons_div' class="create_div">
                        <label for="person_firstName">First Name : </label>
                        <input type="text" id="person_firstName" name="person_firstName"  class="required person">
                        <label for="person_lastName">Last Name : </label>
                        <input type="text" id="person_lastName" name="person_lastName"  class="required person">
                        <label for="person_email">Email : </label>
                        <input type="email" id="person_email" name="person_email"  class="required person">
                        <label for="person_phone">Phone : </label>
                        <input type="number" id="person_phone" name="person_phone"  class="required person">
                        <label for="person_vat">VAT : </label>
                        <input type="number" id="person_vat" name="person_vat"  class="person">
                    </div>
                    <input type="number" id="obj_type" name="obj_type" style="display: none;">
                    <button id="submit_btn" style="display: none;" type="submit">Καταχώρfηση</button>
                </form>
                <button id="my_submit_btn" class="submit_btn" type="button">Submit</button>
            </div>
        </div>
    </body>
    <script>
    $(document).ready(function(){
        const queryString = new URL(window.location.href).search;
        const params = new URLSearchParams(queryString);
        var type = '';
        var  create = '';
        const secondery_data = JSON.parse(`<%- JSON.stringify(secondary_data) %>`);

        $(".create_div").hide();
        $("#my_submit_btn").hide();
        
        
        $("#my_submit_btn").click(my_submit);
        
        if (window.location.search) {
            if(params.get('create')){
                
                $("#create_type").val(params.get('create'));
                $(".create_div").hide();
                $("#"+params.get('create')+"_div").show();
                $("#my_submit_btn").show();

                $(".required").attr('required', false);
                $(".required." + params.get('create')).attr('required', true);
                

                $(".create_menu_btn").removeClass("selected");

                if(params.get('create') != 'Warehouse'){
                    if(params.get('type')){
                        $("#obj_type").val(params.get('type'));
                    }
                    else{
                        window.location = '/';
                    }
                }
                if(params.get('create') == 'series'){
                    for(s of secondery_data){
                        console.log(s.title)
                        $("#transforms_to_div").append(`<div><input type='checkbox' class='series_transforms_check' id=${s._id}'>${s.acronym}- ${s.title}</div>`);
                    }
                }

            }
            else{
                window.location = '/';
            }
        }
        else{
            window.location = '/';
        }

        $(".disc").attr('readonly', true);
        
        $(".percent").attr('readonly', true);

        function my_submit(){
            console.log("submit")
            var type = $('#create_type').val();
            if(type == 'items'){
                get_other_value('items_price_w','items_price_r');
                //get_other_value('items_price_r','items_price_w');
                get_other_value('items_price_w_disc','items_price_r_disc');
                //get_other_value('items_price_2_disc','items_price_w_disc');
                get_other_value('items_tax_r','items_tax_w');
            }
            $("#submit_btn").click();
        }

        function get_other_value(obj_id1,obj_id2){
            var obj_1 = $("#"+obj_id1);
            var obj_2 = $("#"+obj_id2);
            if(obj_1.val()==0){
                obj_1.val(obj_2.val())
            }
            else if (obj_2.val()==0){
                obj_2.val(obj_1.val())
            }
        }

        function price_dicount_input(event){
            var selected_elements =[];
            var item_type = 'wholesale';
            var item_type_mark = 'w';

            selected_elements = $("."+item_type);

            if ($(event.target).hasClass('retale')) {
                item_type = "retale";
                item_type_mark = 'r';
            }

            var price = $("#items_price_"+item_type_mark);
            var dic = $("#items_price_"+item_type_mark+"_disc");
            var percentage = $("#items_price_"+item_type_mark+"_disc_p");


            if($(event.target).hasClass('price')) {
                if(percentage.val()> 0){
                    dic.val(price.val()*(percentage.val()/100))
                }
                else if (dic.val()>0){
                    percentage.val((100*dic.val())/price.val())
                }
               if(price.val()> 0 && price.val() !=null){
                    dic.attr('readonly', false);
                    percentage.attr('readonly', false);
               }
               else{
                    dic.val(0);
                    dic.attr('readonly', true);
                    percentage.attr('readonly', true);
               }
            }
            if($(event.target).hasClass('disc')) {
                percentage.val((100*dic.val())/price.val())
            }
            if($(event.target).hasClass('percent')) {
                dic.val(price.val()*(percentage.val()/100))
            }
        }

        $('.disc').on('input', price_dicount_input);
        $('.percent').on('input', price_dicount_input);
        $('.price').on('input', price_dicount_input);

        $('.series_transforms_check').on('change', function(){
        // Get all checked checkboxes and map their values (IDs) into an array
        const checkedIds = $('.series_transforms_check:checked').map(function () {
            return $(this).attr('id').replace(/'/g, "");
        }).get(); // Convert the jQuery object to an array

        // Update the input field with a comma-separated list of IDs
        $('#series_transforms_list').val(checkedIds.join(','));
      });

    });
    
    </script>
</html>