<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant Profile</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body>
    <h1>Profile</h1>
    <div id="accountant-info-div" name="accountant-info-div">
        <h2>Info</h2>
        <button id="edit-info-button" name="edit-info-button">Edit Info</button>
    </div>
    <hr>
    <div id="rating-div" name="rating-div">
        <h2>Reviews and Comments</h2>
    </div>
    
</body>
</html>