<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <!--Header-->
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>Είδοι</h1>
        <table id="items_table">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Price Retale</th>
              <th>Price Wholesale</th>
              <th>Discount Retale</th>
              <th>Discount Wholesale</th>
              <th>Active</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
            </tr>
          </table>
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
    $(document).ready(function(){
        $("#back_btn").click(function(){
            window.location ="/client-profile?id=<%= clientId %>";
        });
    });
    
    </script>
</html>