<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body>
    <h1>Settings</h1>
    <h2>Settings exist here</h2>
    
</body>
</html>