<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
                <h1>Settings</h1>
                <button id="delete_account_btn">Διαγραφή Λογαριασμού</button>
                <hr>
                <a href="report/general">Report a bug</a>
            </div>
        </div>
    </body>
    <%- include('../partials/footer'); %>
    <script>
    $(document).ready(function(){
        $("#delete_account_btn").click(function(){
            window.location ="delete-account"
        });
    });
    
    </script>
</html>