<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="general_css.css">
    <title>Transactor</title>
</head>
<body>
    <form action="transactor/save" method="POST">
        <span id="button-span">
            <input type="submit" value="Αποθήκευση">
            <button id="cancel-btn">Ακύρωση</button>
        </span>
        <span id="basic-info-span">
            <h2>Βασικά Στοιχεία</h2>
            <label for="transactor_code">Κωδικός</label>
            <input type="text" id="transactor_code" name="transactor_code" required>
            <label for="transactor_name">Επωνυμία</label>
            <input type="text" id="transactor_name" name="transactor_name" required>
            <label for="transactor_AFM">ΑΦΜ</label>
            <input type="text" id="transactor_AFM" name="transactor_AFM" value="code">
        </span>
        <span id="contact-info-span">
            <h2>Στοιχεία επικοινωνίας</h2>
            <label for="transactor_occupation">Επάγγελμα</label>
            <input type="text" id="transactor_occupation" name="transactor_occupation">
            <label for="transactor_address">Διεύθυνση</label>
            <input type="text" id="transactor_address" name="transactor_address">
            <label for="transactor_district">Περιοχή</label>
            <input type="text" id="transactor_district" name="transactor_district">
            <label for="transactor_city">Πόλη</label>
            <input type="text" id="transactor_city" name="transactor_city">
            <label for="transactor_country">Χώρα</label>
            <input type="text" id="transactor_country" name="transactor_country">
            <label for="transactor_zip">Τ.Κ.</label>
            <input type="text" id="transactor_zip" name="transactor_zip">
            <label for="transactor_phone1">Τηλέφωνο</label>
            <input type="text" id="transactor_phone1" name="transactor_phone1">
        </span>
        <span id="shipping-info-span">
            <h2>Στοιχεία Αποστολής</h2>
            <label for="transactor_shipping_address">Διεύθυνση Αποστολής</label>
            <input type="text" id="transactor_shipping_address" name="transactor_shipping_address">
            <label for="transactor_shipping_city">Πόλη</label>
            <input type="text" id="transactor_shipping_city" name="transactor_shipping_city">
            <label for="transactor_shipping_country">Χώρα</label>
            <input type="text" id="transactor_shipping_country" name="transactor_shipping_country">
            <label for="transactor_shipping_zip">Τ.Κ.</label>
            <input type="text" id="transactor_shipping_zip" name="transactor_shipping_zip">
        </span>
    </form>
    
    
    
</body>
</html>