<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="general_css.css">
    <title>Transactor</title>
</head>
<body>
    <span id="button-span">
        <button id="save-btn">Αποθήκευση</button>
        <button id="cancel-btn">Ακύρωση</button>
    </span>
    <span id="basic-info-span">
        <label for="transactor_code">Κωδικός</label>
        <input type="text" id="transactor_code" name="transactor_code">
        <label for="transactor_name">Επωνυμία</label>
        <input type="text" id="transactor_name" name="transactor_name">
        <label for="transactor_AFM">ΑΦΜ</label>
        <input type="text" id="transactor_AFM" name="transactor_AFM" value="code">
    </span>
    
    
</body>
</html>