<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBase</title>
    <link rel="stylesheet" href="modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <%- include('../partials/header'); %>
</head>
<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>

        <div>
        <h1>DataBaseAdmin Main</h1>
        <form>
            <input>
            <button>dd</button>
        </form>
    </div>

    </div>
    <script>

   </script>

<%- include('../partials/footer'); %>
    
</body>

</html>