<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBase</title>
    <link rel="stylesheet" href="modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <%- include('../partials/header'); %>
</head>
<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>

        <div>
        <h1>DataBaseAdmin Main</h1>
        <form action="/database" method="POST" id="db_form">
            <input name="db_post_input" id="db_post_input" style="display: none;">
        </form>
        <div>
            <button id="clear_db" class="db_btn">Clear DB</button><br>
            <button id="export_full_db" class="db_btn">Export Full Back UP</button><br>
            <button id="import_full_db" class="db_btn">Import Full Back UP</button>
        </div>
    </div>

    </div>
    <script>
        $(document).ready(function () {
            $(".db_btn").click(function () {
                $('#db_post_input').val($(this).attr("id"));
                $('#db_form').submit();
            });

            const params = new URLSearchParams(window.location.search);
            var queryParams = {};
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            if (queryParams.message) {
                alert(queryParams.message);
            }
        });
   </script>    
</body>

</html>