.create_form> .customer_div{
    display: flex;
    justify-content: flex-start;
}

.conatainer{
    margin: 30px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: -5px 5px 15px 0px black;
}

.create_form> .customer_div > select{
    width: 100px
}

.create_div{
    display: block;
}

.submit_btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(66, 63, 63);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}