.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
  }

.asap-condensed-extralight {
  font-family: "Asap Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.asap-condensed-light {
  font-family: "Asap Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.font_size_1{
  font-size: 1.3em !important;
  padding: 7px !important;
}

