.asap-condensed-regular {
    font-family: "Asap Condensed", serif;
    font-weight: 400;
    font-style: normal;
  }

.asap-condensed-extralight {
  font-family: "Asap Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.asap-condensed-light {
  font-family: "Asap Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.font_size_1{
  font-size: 1.3em !important;
  padding: 7px !important;
}

.color_white{
  color: white;
}
.color_grey{
  color: rgb(204, 204, 204);
}

.color_grey_2{
  color: rgb(167, 167, 167);
}

.color_red{
  color: rgb(151, 10, 10);
}

.color_black{
  color: rgb(0, 0, 0);
}


