button{
    cursor: pointer;
}
.display_block * {
    display: block;
}

/*Δοκίμαζα κάτι αν δημιουργεί προβλημα μπορεί να φύγει*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.has_sidebar{
    display: grid;
    gap: 20px;
    grid-template-columns: 90px auto;
    /*grid-template-columns: 200px auto;*/

}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: greenyellow;
    width: 90%;
    top: 0;
    left: 0;
    height: 10vh;
    padding: 0px 5% ;
}
#footer{
    margin-top: auto;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    z-index: 1;
    height: 10vh;
}

#footer_text{
    padding: 15px;
}

.star_btn{
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 50px;
}
.star_selected{
    color: gold;
}

.preview_review{
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.checkbox_conatainer{
    display: flex;
}

#sidebar_div{
    height: 100vh;
    background-color: rgb(170, 170, 170);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

#sidebar_div>div{
    margin-top: 20px;
    display: flex;
}

.main_side_menubtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: none;
    background-color:  rgb(66, 63, 63);
    border-radius: 15px;
    margin: 15px 15px 15px 10px;
    padding: 5px 10px;
    transition: 0.3s;
    box-shadow: -3px 3px 7px black;
    color: transparent;
    font-size: 0;
    text-align: center;

}

.main_side_menubtn.clicked{
    width: 90px;
    height: 80px;
    margin: 15px 15px 15px 20px;
    box-shadow: -3px 3px 5px black;
    font-size: 10px;
    font-weight: bold;
    color: white;
    box-shadow: -10px 7px 15px -1px black;
}


.main_side_menubtn:hover{
    width: 90px;
    height: 80px;
    margin: 15px 15px 15px 20px;
    box-shadow: -3px 3px 5px black;
    font-size: 10px;
    font-weight: bold;
    color: white;
    box-shadow: -10px 7px 15px -1px black;
}

.main_side_menubtn>img{
    width:40px;
    margin: 10px ;
}


.sub_side_menu_div{
    width: 170px;
    display: block;
}


#column_two_menu_div{
    background-color:red;
    margin-left:10px;
    position: relative;
    z-index: 2;
    top: 50px;
    left: -35px;
    width: 170px;
    display: block;
}

