#list_filters{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    /*background-color: rgb(186, 199, 234);*/   
    display: grid;
    grid-template-columns: 50% 50%; 
}

#list_filters_right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#list_count{
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px;
}


#list_filters h1{
    margin: 5px;
}

#tottal_num{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-shadow: -2px 2px 2px rgb(0,0,0);
    font-size: 1.2em;
}


#av_rating{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-shadow: -2px 2px 2px rgb(0,0,0);
    font-size: 1.2em;
}

#go_to_create{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-in-out;
}
#go_to_create:hover{
    transform: scale(1.2);
}

.td_button_container {
    /*display: grid;
    grid-template-columns: auto auto;
    gap: 10px;*/
    display: flex;
    justify-content: space-around;
    /*gap: 40px;*/
}

/*.td_button_container>div {
    padding: 10px;
    transition: transform 0.2s;
    width: 100%;
}*/

.td_button_container>button {
    border: none;
    padding: 5px;
    /* Increase padding for better appearance */
    cursor: pointer;
    width: 40%;
    /* Ensure buttons take full div width */
    transition: 0.35s;
    border-radius: 10px;
}

.td_button_container  > button:not(:disabled):hover {
    transform: scale(1.1);
    /* Scale up the button on hover */
    box-shadow: 3px 3px 10px black;
}

.td_button_container>.btn2 {
    background-color: rgb(255, 0, 0);
    color: white;
}

.td_button_container  > .btn2:disabled {
background-color: rgba(255, 0, 0, 0.33);
}

.td_button_container>.btn3 {
    background-color: rgb(71, 71, 71);
    color: white;
}
.td_button_container>.btn3:disabled {
    background-color: rgba(71, 71, 71, 0.33);

}

.td_button_container>.btn1 {
    background-color: rgb(110, 152, 231);
    color: white;
}

tr.glass_effect_2:hover{
    background: rgba(255, 255, 255, 0.70);
}

#list_header{
    color: white;
    text-shadow: -2px 2px 2px rgb(0,0,0);
}