body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: rgb(20,74,187);
    background: linear-gradient(45deg, rgba(20,74,187,1) 9%, rgba(46,45,45,1) 76%);
}

label{
    font-size: 1.5em;
    color: rgb(185, 185, 185);
}

input :focus{
    outline: none;
    border: none;
}

.checkbox_conatainer label{
    font-size: 1em;
    color: rgb(25, 25, 25);
}

