body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

label{
    font-size: 1.5em;
    color: rgb(185, 185, 185);
}

input :focus{
    outline: none;
    border: none;
}

.checkbox_conatainer label{
    font-size: 1em;
    color: rgb(25, 25, 25);
}


#log_in_container{
    box-shadow: -5px 5px 15px 0px black; 
}
