/*.rating_form >  .star_btn{
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 50px;
}*/

.messaging_form{
    border: 2px solid black;
}
.messaging_form > p{
    background-color: rgb(136, 136, 136);
}

/*.star_selected{
    color: gold;
}*/

.requests{
    border: 2px solid black;
}
.requests * * {
    display: block;
}
.requests * * {
    display: flex;
}

#cccccc{
    background-color: red !important;
}
