/*.rating_form >  .star_btn{
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 50px;
}*/

/*.star_selected{
    color: gold;
}*/


#my_requests_record {
    border-collapse: collapse; /* Collapse border spacing */
    width: 100%; /* Make the table take up the full width of its container */
  }
  
  /* Style table header cells */
  #my_requests_record > tbody > tr {
    border: 1px solid #000; /* Add a 1px solid black border around th elements */
    padding: 8px; /* Add some padding for better readability */
    text-align: left; /* Align text to the left within th elements */
  }
  
  /* Style table data cells */
  #my_requests_record > tbody > tr > td , #my_requests_record > tbody > tr > th {
    border: 1px solid #000; /* Add a 1px solid black border around td elements */
    padding: 8px; /* Add some padding for better readability */
    text-align: left; /* Align text to the left within td elements */
  }

