#company_logo{
    height: auto;
    width: 150px;
    object-fit: cover;
}

#display_license{
    display:grid;
    grid-template-columns: 150px 50px;
    gap: 10px;
}
#edit_license{
    display:flex;
}