.filter_form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5px;
    margin: 0px;
    padding: 0px;
}
.filter_column > * {
    display: block; /* Set elements inside .filter_column to display as block */
    width: 100%; /* Ensure each element takes up the full width of its column */
    margin: 0px;
    padding: 0px;
    
}
.filter_column {
    margin: 0px;
    padding: 0px;
}

.selected{
    background-color: gray;
}

.reverse_order{
    display: flex;
    flex-direction: row-reverse; 
}

.filter_active{
    width : 33%;
}

.filter_active_btn{
    width : 33%;
    border:none;
    background-color: rgb(145, 145, 145);
}

.left_text {
    text-align: left !important; 
}

.results_title_div{
    text-align: center;
    background-color: gray;
}
.results_row{
    display: grid;
    grid-template-columns: 5% 35% 20% 20% 20%;
}

.results_row > div{
    text-align: center;
}

.cliked{
    font-weight: bold;
    background-color:rgb(70, 70, 70);
    ;
}