body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    background: rgb(20,74,187);
    background: linear-gradient(45deg, rgba(20,74,187,1) 9%, rgba(46,45,45,1) 76%);
}