/*body {
    margin: 0px;
    padding: 0px;
    background: 
        url('background.svg') top center no-repeat,
        linear-gradient(45deg, rgba(20,74,187,1) 9%, rgba(46,45,45,1) 76%);
    background-size: auto, cover;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
