.table_container {
    width: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/


    max-height: 400px; 
    overflow-y: auto;
    overflow-x:hidden
}


.table_container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: transparent;
    margin-top: 10px; /* Adjust the track margin at the top */
    margin-bottom: 10px; /* Adjust the track margin at the bottom */
}

.table_container::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.table_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.table_container table{
    border-collapse: collapse;
    width: 95%;
    border:none;
}

.table_container table tr {
    transition: transform 0.3s ease-in-out;
}

.table_container table tr:hover {
    transform: scale(1.01);
}


.table_container table thead{
    height: 50px;
    background: rgba(121, 121, 121, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(121, 121, 121, 0.3);

    position: sticky;
    top: 0;
    z-index: 1;
}

.table_container table thead th{
    color: rgb(197, 197, 197);
    text-shadow: 0 0 5px black; 
}

.table_container table th, .table_container table td {
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}




.table_container table th {
    transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.table_container table tr {
    transition: transform 0.3s ease-in-out; 
    
}
.table_container table tbody{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: none;
}

.table_container table tbody input[type="text"],
.table_container table tbody input[type="number"]{
    all:unset;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    background-color: rgb(66, 63, 63);
}

.table_container table tbody select{
    all:unset;
    width: 80%;
    background-color: rgb(66, 63, 63);
    border-radius: 5px;
    padding: 2px;
    color: rgb(255, 255, 255);

}


.table_container table tr:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.table_container.no_scale table tr:hover {
    cursor: pointer;
    transform: scale(1);
}


/*''''''''''''''
.table-container {
    max-height: 200px; 
    overflow-y: auto;
}

/*thead {
    position: sticky;
    top: 0;
    z-index: 1;
}*/
/*
th, td {
    padding: 8px;
    text-align: left;
}*/
