#calendar_div{  
    background-color: red !important;
}

#calendar_div div{
    /*margin: 10px;*/
}


.day{
    max-width: 200px;
    min-height: 50px;
    height: 160px;
    /*overflow-y: auto;
    overflow-x: hidden;*/
    display: grid;
    grid-template-rows: 15% 15 70%;
    width: 160px;
    padding: 5px;
}

.day div{
    /*margin: 0px !important;*/
}

#day{
    height: 100px;
    padding: 0px !important;
    margin: 0px !important;
}

.day.now{
    background-color: rgb(255, 247, 0);
}

.events_container{
    padding: 0px ;
    margin: 0px ;
    background-color: rgb(73, 226, 43);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}


.day.old{
    background-color: rgb(116, 116, 116);
}

.week {
    margin: 10px 10px 10px 10px;
    padding: 0px;
}

.week .days{
    display: flex;
    justify-content: space-between;
    background-color: green;
    margin: 0px;
    padding: 0px;
}

.month {
    background-color: blue;
}

#day_data{
    background-color: rgb(0, 242, 255);
    position: absolute;
    top: 50vh;
    left: 0px;
    width: 100vw;
}

.day_line {
    margin: 0px 0px  10px 0px;
    background-color: rgb(255, 0, 149) !important;

}
