#calendar_div{  
    background-color: red !important;
}

#calendar_div div{
    margin: 10px;
}


.day{
    /*background-color: yellow;*/
    aspect-ratio: 1 / 1;
}

#day{
    height: 100px;
}

.day.now{
    background-color: rgb(255, 247, 0);
}

.day.old{
    background-color: rgb(116, 116, 116);
}

.week .days{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% ;
    gap:5%;
    background-color: green;
}

.month {
    background-color: blue;
}

#day_data{
    background-color: rgb(0, 242, 255);
    position: absolute;
    top: 50vh;
    left: 0px;
    width: 100vw;
}

.day_line{
    margin: 0px;
    padding: 0px;
    background-color: red;
}
.day_line div{
    margin: 0px !important;
    padding: 0px !important;
    background-color: blue;

}
