<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="general_css.css">
    </head>
<footer id="footer" name="footer">
    <p id="footer_text" name="footer_text">This web application was created as a graduate thesis</p>
</footer>
</html>