<!DOCTYPE html>
<html lang="en">
<footer id="footer" name="footer">
    <p>This web application was created as a graduate thesis</p>
</footer>

<!-- Will be removed when global css is created - Was just added to make menu horizontal -->
<style>
    #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: green;
        color: white;
        text-align: center;
    }
</style>
</html>