<!DOCTYPE html>
<html lang="en">
<head>
   <!--ajax-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <!--CSS-->
   <link rel="stylesheet" href="general_css.css">
   <link rel="stylesheet" href="fonts_css.css">

   <!--Fonts-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>
<style>
    #header{
        position: relative;
        z-index: 100;
    }
    #header_menu_img{
        margin-left: calc(100% - 150px);
        /*margin-right: 75px;*/
        cursor: pointer;
        transition: 0.5s;
        position: fixed; /* Use fixed for consistency across scrolling */
        top: 10px;
        width: 50px;
    }

    #header_menu_img:hover{
        transform: scale(1.1);
        filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
    }
    #header_menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        border-radius: 10px;
        width: 200px;
        margin-left: calc(100% - 225px);
        margin-right: 25px;
        margin-top: 5px;
        position: fixed; /* Use fixed for consistency across scrolling */
        top: 50px;
        box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.7);

        display: none;
    }
    #header_menu a{
        font-size: 1.5em;
        text-decoration: none;
        color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        padding: 5px 0px;
        transition: 0.3s;
    }
    #header_menu a:hover{
        color: white;
        font-weight: 450;
        text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.8);  
        background-color: rgba(255, 255, 255, 0.396);

    }


</style>
<header id="header" name="header" class=" asap-condensed-regular">
    <!--a href="profile-page">Profile</a-->
    <img id="header_menu_img" src="https://img.icons8.com/parakeet-line/100/FFFFFF/test-account.png" alt="test-account"/>
    <div id="header_menu" class="glass_effect_1 border-radius">
        <div></div>
        <div></div><a href="/profile-page">Profile</a>
        <div></div><a href="/my-company">Company</a>
        <div></div><a href="/my-qr-code">QR Code</a>
        <% if(user.type != 'admin') { %>
        <div></div><a href="/list?searchfor=reviews">Reviews</a>
        <% } %>
        <div></div><a href="/logout">Log Out</a>
    </div>
    <!--form action="/logout?_method=DELETE" method="POST" id="log_out_form">
        <div>
            <div id="log_out_img_1" class="img_container">
                <img src="https://img.icons8.com/pastel-glyph/100/FFFFFF/logout-rounded.png" alt="logout-rounded"/>
                <div id="log_out_text">Log Out</div>
            </div>
            <div id="log_out_img_2" class="img_container">
                <img src="https://img.icons8.com/pastel-glyph/100/FF0000/logout-rounded.png" alt="logout-rounded"/>
                <div id="log_out_text">Log Out</div>
            </div>
        </div>
    </form-->
</header>
<script>
            $(document).ready(function(){
                $("#header_menu").hide();
                $("#header_menu_img").click(function(){
                    if ($("#header_menu").css("display") === "flex") {
                        $("#header_menu").css("display", "none");
                    } else {
                        $("#header_menu").css("display", "flex");
                    }
                });
            });



      
</script>
</html>