<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="general_css.css">
</head>
<header id="header" name="header">
    <div id="app-name-div" name="app-name-div">
        <a href="/"><h2>Our Web Application</h2></a>
    </div>
    <div id="menu" name="menu">
        <a href="settings">Settings</a>
        <!-- Will be a pop-up not a unique page-->
        <a href="">Notifications</a>
        <a href="profile-page">Profile</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>

</header>
</html>