<!DOCTYPE html>
<html lang="en">
<header id="header" name="header">
    <div id="app-name-div" name="app-name-div">
        <h2>Our Web Application</h2>
    </div>
    <div id="menu" name="menu">
        <a href="profile-page">Profile</a>
        <a href="settings">Settings</a>
        <a href="notifications">Notifications</a>
    </div>

</header>

<!-- Will be removed when global css is created - Was just added to make menu horizontal -->
<style>
    #header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: greenyellow;
        width: 100%;
        top: 0;
        left: 0;
        
    }
</style>
</html>