<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="general_css.css">
</head>
<header id="header" name="header">
    <div id="app-name-div" name="app-name-div">
        <a href="/"><h2>Our Web Application</h2></a>
    </div>
    <div id="menu" name="menu">
        <a href="settings">Settings</a>
        <!-- Will be a pop-up not a unique page-->
        <%if(user.type != 'admin'){%>
            <a href="profile-page">Profile</a>
            <select name="notifications" id="notifications" onchange="NotificationClick(this.value)">
                <option value="title" selected>Notifications <%= notification_list.length %></option>
                    <%for(var i = 0; i < notification_list.length; i++){
                        if(notification_list[i].type == "hiring-request-notification"){%>
                            <option value="/clients^<%= notification_list[i]._id%>">Someone wants to hire you!</option>
                        <%}
                    }%>
            </select>
        <%}%>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>

</header>
<script>
    function NotificationClick(value){
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/notification-read", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            v: value
        }));
        
    }
      
</script>
</html>