<!DOCTYPE html>
<html lang="en">
<div id="menu" name="menu">
    <a href="profile-page">Profile</a>
    <a href="settings">Settings</a>
    <a href="notifications">Notifications</a>
</div>

<!-- Will be removed when global css is created - Was just added to make menu horizontal -->
<style>
    #menu{
        display: inline;
    }
</style>
</html>