<!--DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="display: flex;width: 150px;height: 100%;left: 0;overflow-x: hidden;flex-direction: column;align-items: flex-start;">
    <ul>
        <a href="/transactor-list?type=supplier">Suppliers</a>
        <a href="/transactor-list?type=customer">Customers</a>
        <button id="buy_sidebar_btn">Αγωρές</button>
        <button id="sell_sidebar_btn">Πωλήσεις</button>
    </ul>
</body>
</html-->   

<div id="sidebar_div">
    <div>
        <button onclick="location.href='/list?searchfor=companys'">
            <img src="https://img.icons8.com/ios-filled/100/FFFFFF/client-company.png" alt="client-company"/>
            Companys
        </button>
        <button  onclick="location.href='/list?searchfor=users'">
            <img src="https://img.icons8.com/external-basicons-solid-edtgraphics/50/FFFFFF/external-Users-users-basicons-solid-edtgraphics-4.png">
            Users
        </button>
        <button class="button" onclick="location.href='/report-list-page'">
            <img src="https://img.icons8.com/wired/64/FFFFFF/siren.png">
            Reports
        </button>
    </div>
</div>
