<div id="sidebar_div">
    <div>
        <div>
            <button class="main_side_menubtn user">
                <img src="https://img.icons8.com/ios-filled/100/FFFFFF/buy--v1.png" alt="buying"/>
                Buying
            </button>
            <button class="main_side_menubtn user">
                <img src="https://img.icons8.com/ios-filled/100/FFFFFF/buy--v1.png" alt="buying"/>
                Sales
            </button>
            <button class="main_side_menubtn user">
                <img src="https://img.icons8.com/ios-filled/100/FFFFFF/buy--v1.png" alt="buying"/>
                Persons
            </button>
            <button class="main_side_menubtn user">
                <img src="https://img.icons8.com/ios-filled/100/FFFFFF/buy--v1.png" alt="buying"/>
                View
            </button>
            <button class="main_side_menubtn user">
                <img src="https://img.icons8.com/ios-filled/100/FFFFFF/buy--v1.png" alt="buying"/>
                Manage
            </button>
        </div>
        <div id='column_two_menu_div'>
            <div class="sub_side_menu_div">
                <button onclick="location.href = 'list?searchfor=docs&type=buy';">View Docs</button>
                <button onclick="location.href = '/create-doc?type=buy';">Create Docs</button>
                <button onclick="location.href = 'list?searchfor=series&type=buy';">View Series</button>
                <button onclick="location.href = '/create?create=series';">Create Series</button>
                <button onclick="location.href = 'list?searchfor=persons&type=buy';">View Persons</button>
                <button onclick="location.href = '/create?create=persons';">Create Persons</button>
            </div>
        </div>
    </div>
    <div>
        <button id="back_btn">
            <img src="https://img.icons8.com/sf-black/64/FFFFFF/back.png" alt="back"/>
        </button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".main_side_menubtn.user").click(function() {
            if (!$(this).hasClass('clicked')) {
                // Hide all sub menu divs
                $('.sub_side_menu_div').css('visibility', 'hidden');
                
                // Remove 'clicked' class from all buttons
                $('.main_side_menubtn').removeClass('clicked');

                // Add 'clicked' class to the clicked button
                $(this).addClass('clicked');
                
                // Show the corresponding sub menu div
                var index = $('.main_side_menubtn').index($(this));
                $('.sub_side_menu_div').eq(index).css('visibility', 'visible');
            }
            else{
                // Hide all sub menu divs
                $('.sub_side_menu_div').css('visibility', 'hidden');
                
                // Remove 'clicked' class from all buttons
                $('.main_side_menubtn').removeClass('clicked');
            }
        });
        function handle_click(event,link) {
            if ($(event).hasClass("clicked")) {
                location.href = link;
            } else {
                myrightclick($(event))        
            }
        }
    });
</script>
