<div id="sidebar_div" class="asap-condensed-regular">
  <div>
    <div>
      <button class="main_side_menubtn user sidebar_btn" onclick="window.location='/'">
        <img height="100" width="100" src="icons8-home-100.png" alt="home" />
        <span class="text_function">Home</span>
      </button>
      <% if(user.type == 'admin') { %>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=companies'">
        <img height="100" width="100" src="icons8-company-100.png" alt="client-company" />
        <span class="text_function">Companies</span>
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=users'">
        <img height="100" width="100" src="icons8-users-100.png" alt="users" />
        <span class="text_function">Users</span>
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=reports'">
        <img height="100" width="100" src="icons8-siren-100.png" alt="reports" />
        <span class="text_function">Reports</span>
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/database'">
        <img height="100" width="100" src="icons8-database-100.png" alt="reports" />
        <span class="text_function">DataBase</span>
      </button>
      <%}else if(user.type == 'accountant') { %>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=clients'">
        <img height="100" width="100" src="icons8-client-management-100.png" alt="client-management" />
        <span class="text_function">Clients</span>
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/payroll'">
        <img height="100" width="100" width="100" height="100" src="icons8-receipt-euro-100.png" alt="Payroll"/>
        <span class="text_function">PayRoll</span>
      </button>
      <% } else { %>
      <button class="main_side_menubtn user sidebar_btn">
        <img height="100" width="100" src="icons8-buy-100.png" alt="buying" />
        <span class="text_function">Buying</span>
      </button>
      <button class="main_side_menubtn user sidebar_btn">
        <img height="100" width="100" src="icons8-cash-register-100.png" alt="sales" />
        <span class="text_function">Sales</span>
      </button>
      <button class="main_side_menubtn user sidebar_btn">
        <img height="100" width="100" src="icons8-box-100.png" alt="warehouse" />
        <span class="text_function">Warehouse</span>
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/calendar?id=<%=user.company%>&timetable=month&timetable_user=all'">
        <img width="50" height="50" src="icons8-timetable-100.png" alt="overtime"/>
        <span class="text_function">Calendar</span>
      </button>
      <% } %>
    </div>
    <div id="column_two_menu_div">
      <div class="sub_side_menu_div" style="display: none"></div>
      <div class="sub_side_menu_div" style="display: none">
        <button class="text_function" onclick="location.href = 'list?searchfor=docs&type=2';">Docs</button>
        <button class="text_function" onclick="location.href = 'list?searchfor=series&type=2';">Series</button>
        <button class="text_function" onclick="location.href = 'list?searchfor=persons&type=2';">Persons</button>
      </div>
      <div class="sub_side_menu_div" style="display: none">
        <button class="text_function" onclick="location.href = 'list?searchfor=docs&type=1';">Docs</button>
        <button class="text_function" onclick="location.href = 'list?searchfor=series&type=1';">Series</button>
        <button class="text_function" onclick="location.href = 'list?searchfor=persons&type=1';">Persons</button>
      </div>
      <div class="sub_side_menu_div" style="display: none">
        <button class="text_function" onclick="location.href = 'list?searchfor=Warehouse';">Warehouses</button>
        <button class="text_function" onclick="location.href = 'list?searchfor=items';">Items</button>
        <button class="text_function" onclick="location.href = 'list?searchfor=transfers';">Transfers</button>
      </div>
    </div>
  </div>
  <div>
    <button id="back_btn" class="main_side_menubtn">
      <img src="icons8-back-100.png" alt="back" />
    </button>
  </div>
</div>
<script type="text/javascript" src="JSFrontEndFunctions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script>
  $(document).ready(function () {
    /*$(".sub_side_menu_div").hide();*/
    if(window.location.pathname == '/'){
      $(".main_side_menubtn").css("opacity", 0).hide(); // Κρύβουμε όλα τα κουμπιά αρχικά

      $(".main_side_menubtn").each(function (index) {
        gsap.fromTo(
          this,
          { opacity: 0, y: 20, scale: 0.9, display: "none" },
          { opacity: 1, y: 0, scale: 1, display: "flex", duration: 0.3, delay: index * 0.2, ease: "power2.out" }
        );
      });
    }

    

    $(".main_side_menubtn.user").click(function () {
      
      var index = $(".main_side_menubtn.user").index(this);
      var down = index;

      if (index == 0) {
        return;
      }

      $(".sub_side_menu_div").css("display", "none");
      $(".sub_side_menu_div").eq(index).css("display", "block");

      let top = 45 + index * 85;
      $("#column_two_menu_div").css("top", top + "px");
      if (!$(this).hasClass("clicked")) {
        /*$('.sub_side_menu_div').css('visibility', 'hidden');*/
        $(".sub_side_menu_div").css("display", "none");

        $(".main_side_menubtn").removeClass("clicked");

        $(this).addClass("clicked");

        var index = $(".main_side_menubtn").index($(this));
        $(".sub_side_menu_div").eq(index).css("display", "block");
      } else {
        $(".sub_side_menu_div").css("display", "none");

        $(".main_side_menubtn").removeClass("clicked");
      }
    });
    $("#back_btn").click(function () {
      window.location = go_back(new URL(window.location.href))
    });

    $(document).keydown(function (event) {
      if (event.key === "Escape") {
        $(".sub_side_menu_div").css("display", "none");
        $(".main_side_menubtn").removeClass("clicked");
      }
      if (event.shiftKey) {
        if (event.key === "Tab") {
          event.preventDefault();
          $(".main_side_menubtn").first().focus();
        }
      }
    });
  });
</script>
