<div id="sidebar_div" class="asap-condensed-regular">
  <div>
    <div>
      <button class="main_side_menubtn user sidebar_btn" onclick="window.location='/'">
        <img src="https://img.icons8.com/glyph-neue/64/FFFFFF/home--v1.png" alt="home" />
        Home
      </button>
      <% if(user.type == 'admin') { %>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=companies'">
        <img src="https://img.icons8.com/ios-filled/100/FFFFFF/client-company.png" alt="client-company" />
        Companys
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=users'">
        <img src="https://img.icons8.com/external-basicons-solid-edtgraphics/50/FFFFFF/external-Users-users-basicons-solid-edtgraphics-4.png" alt="users" />
        Users
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=reports'">
        <img src="https://img.icons8.com/wired/64/FFFFFF/siren.png" alt="reports" />
        Reports
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/database'">
        <img src="https://img.icons8.com/ios-filled/50/FFFFFF/database.png" alt="reports" />
        DataBase
      </button>
      <%}else if(user.type == 'accountant') { %>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=clients'">
        <img src="https://img.icons8.com/ios-filled/50/FFFFFF/client-management.png" alt="client-management" />
        Clients
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/payroll'">
        <img width="100" height="100" src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/100/FFFFFF/external-Payroll-audit-smashingstocks-mixed-smashing-stocks.png" alt="external-Payroll-audit-smashingstocks-mixed-smashing-stocks"/>
        PayRoll
      </button>
      <button class="main_side_menubtn" onclick="location.href = '/list?searchfor=reviews'">
        <img src="https://img.icons8.com/hatch/100/FFFFFF/features-list.png" alt="features-list"/>
        Reviews
      </button>
      <% } else { %>
      <button class="main_side_menubtn user sidebar_btn">
        <img src="https://img.icons8.com/ios-filled/100/FFFFFF/buy--v1.png" alt="buying" />
        Buying
      </button>
      <button class="main_side_menubtn user sidebar_btn">
        <img src="https://img.icons8.com/ios-filled/100/FFFFFF/cash-register.png" alt="sales" />
        Sales
      </button>
      <button class="main_side_menubtn user sidebar_btn">
        <img src="https://img.icons8.com/pastel-glyph/64/FFFFFF/box--v1.png" alt="warehouse" />
        Warehouse
      </button>
      <% } %>
    </div>
    <div id="column_two_menu_div">
      <div class="sub_side_menu_div" style="display: none"></div>
      <div class="sub_side_menu_div" style="display: none">
        <button onclick="location.href = 'list?searchfor=docs&type=2';">View Docs</button>
        <!--button onclick="location.href = '/create-doc?type=2';">Create Docs</button-->
        <button onclick="location.href = 'list?searchfor=series&type=2';">View Series</button>
        <!--button onclick="location.href = '/create?create=series&type=2';">Create Series</button-->
        <button onclick="location.href = 'list?searchfor=persons&type=2';">View Persons</button>
        <!--button onclick="location.href = '/create?create=persons&type=2';">Create Person</button-->
      </div>
      <div class="sub_side_menu_div" style="display: none">
        <button onclick="location.href = 'list?searchfor=docs&type=1';">View Docs</button>
        <!--button onclick="location.href = '/create-doc?type=1';">Create Docs</button-->
        <button onclick="location.href = 'list?searchfor=series&type=1';">View Series</button>
        <!--button onclick="location.href = '/create?create=series&type=1';">Create Series</button-->
        <button onclick="location.href = 'list?searchfor=persons&type=1';">View Persons</button>
        <!--button onclick="location.href = '/create?create=persons&type=1';">Create Person</button-->
      </div>
      <div class="sub_side_menu_div" style="display: none">
        <!--button onclick="location.href = '/create?create=Warehouse';">Create Warehouse</button-->
        <button onclick="location.href = 'list?searchfor=Warehouse';">View Warehouses</button>
        <!--button onclick="location.href = '/create?create=items&type=2';">Create Item Buy</button>
                <button onclick="location.href = '/create?create=items&type=1';">Create Item Shell</button-->
        <button onclick="location.href = 'list?searchfor=items&type=2';">View Items Buy</button>
        <button onclick="location.href = 'list?searchfor=items&type=1';">View Items Shell</button>
      </div>
    </div>
  </div>
  <div>
    <button id="back_btn" class="main_side_menubtn">
      <img src="https://img.icons8.com/sf-black/64/FFFFFF/back.png" alt="back" />
    </button>
  </div>
</div>
<script type="text/javascript" src="JSFrontEndFunctions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    /*$(".sub_side_menu_div").hide();*/

    $(".main_side_menubtn.user").click(function () {
      var index = $(".main_side_menubtn.user").index(this);
      var down = index;

      if (index == 0) {
        return;
      }

      $(".sub_side_menu_div").css("display", "none");
      $(".sub_side_menu_div").eq(index).css("display", "block");

      let top = 45 + index * 85;
      $("#column_two_menu_div").css("top", top + "px");
      if (!$(this).hasClass("clicked")) {
        /*$('.sub_side_menu_div').css('visibility', 'hidden');*/
        $(".sub_side_menu_div").css("display", "none");

        $(".main_side_menubtn").removeClass("clicked");

        $(this).addClass("clicked");

        var index = $(".main_side_menubtn").index($(this));
        $(".sub_side_menu_div").eq(index).css("display", "block");
      } else {
        $(".sub_side_menu_div").css("display", "none");

        $(".main_side_menubtn").removeClass("clicked");
      }
    });
    $("#back_btn").click(function () {
      window.location = go_back(new URL(window.location.href))
      /*try {
        const current_url = new URL(window.location.href);
        var newLocation = "";
        if(current_url.pathname == "/create"){
          newLocation = "/list?searchfor="+current_url.searchParams.get("create");
          if(current_url.searchParams.get("type")){
            newLocation = newLocation + "&type="+current_url.searchParams.get("type");
          }
        }
        else if(current_url.pathname == "/view"){
          newLocation = "/list?searchfor="+current_url.searchParams.get("type");
          if(current_url.searchParams.get("id")){
            newLocation = newLocation + "&type="+current_url.searchParams.get("type2");
          }
        }
        else{
          let previousLink = document.referrer;

          // Check if the referrer exists
          if (previousLink) {

            // Create a new URL object from the previous link
            const url = new URL(previousLink);

            // Extract the pathname (e.g., /list)
            const previousPath = url.pathname;

            // Extract the search parameters (query string)
            const params = url.search; // This will include '?' at the start

            // Combine pathname and parameters if you want to navigate to the full path with parameters
            newLocation = `${previousPath}${params}`;
            alert(newLocation);

            // Redirect to the combined pathname and parameters
            
          } else {
            // If no referrer, navigate back
            window.history.back();
          }
        }
        window.location = newLocation;

      } catch (e) {
        console.log(e);
        window.history.back();
      }*/
    });

    $(document).keydown(function (event) {
      if (event.key === "Escape") {
        $(".sub_side_menu_div").css("display", "none");
        $(".main_side_menubtn").removeClass("clicked");
      }
      if (event.shiftKey) {
        if (event.key === "Tab") {
          event.preventDefault();
          $(".main_side_menubtn").first().focus();
        }
      }
    });
  });
</script>
