<!DOCTYPE html>
<html>
    <head>
        <title>DeskFlow</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="fonts_css.css">
        <link rel="stylesheet" href="buttons_css.css">

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="logo.svg">
        <!-- QR Code Scanner Library -->
        <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    </head>
    <style>
        #scanner_div{
            width: 60vw;
            margin-left: 20vw;
            margin-top: 50px;
        }
        h1{
            text-indent: 30px;
            margin: 0px;
            padding: 0px;
        }
        #message{
            text-align: center;
            font-size: 3em;
            color:rgb(255, 255, 255);
            text-shadow: -2px 2px 5px black;
        }

        #prices_conatainer{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        #prices_conatainer .container {
            flex: 1;
            margin: 0 20px;
            text-align: center;
            padding: 20px;
            transition: all 0.3s ease-in-out;
            filter: opacity(0.8);
        }
        #prices_conatainer .container:hover {
            box-shadow: -5px 5px 15px 2px black;
            filter: opacity(1);
        }

        #feature_container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            gap: 20px;
        }

        #feature_container .container {
            flex: 1;
            margin: 0 20px;
            padding: 0;
            text-align: center;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: relative; /* Προσθήκη για να λειτουργεί σωστά το absolute */
            overflow: hidden; /* Για να μην "ξεφεύγει" η εικόνα */
            transition: all 0.3s ease-in-out;
        }

        #feature_container .container:hover {
            flex-grow: 2;
        }

        #feature_container .container .feature_img {
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;
            background-repeat: no-repeat;
            background-size: cover ; 
            background-attachment: scroll; 
            position: absolute;
            top: 0;
            left: 0;
            filter: grayscale(100%);
            z-index: -1;
        }
        #feature_container .container .feature_text{
            transition: all 0.3s ease-in-out;
            padding : 20px 20px;
            color: white;
            text-shadow: 2px 2px 2px black;
            display: none;
            width: 100%;
        }



        #feature_container .container .feature_img#f_img_1 {
            background-image: url('office4.svg');
        }
        #feature_container .container .feature_img#f_img_2 {
            background-image: url('office8.svg');
        }
        #feature_container .container .feature_img#f_img_3 {
            background-image: url('office6.svg');
        }
        #feature_container .container .feature_img#f_img_4 {
            background-image: url('office5.svg');
        }
        #feature_container .container .feature_img#f_img_5 {
            background-image: url('office7.svg');
        }

        #feature_container .container .feature_img:hover {
            flex-grow: 3; /* Increases width on hover */
        }

        #feature_container .container h3{
            font-size: 2em;
            padding: 10px 0;
            color: rgb(5, 84, 175)!important;
            filter: grayscale(0%);
            background: rgba(255, 255, 255, 0.50);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.9px);
            -webkit-backdrop-filter: blur(3.9px);
            border: none;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

       
        

        .gallery {
            height: 60vh;
            width: 100%;
            position: relative;
            display: flex;
        }

        .image {
            width: 50vw;
            height: 100%;
            transition: all 0.3s ease-in-out;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            position: absolute;
            transition: all 0.3s ease-in-out;
        }

        /* Default positions */
        #first {
            /*background-image: url("office1.jpg");*/
            z-index: 3;
            position: absolute;
        }

        /* Second image - smaller height */
        #second {
            top: 5%;
            left: 10%;
            height: 95%; /* Reduced height */
            z-index: 2;
            filter: brightness(0.6); /* Combined filters */

        }

        #third {
            top: 10%;
            left: 20%;
            z-index: 1;
            height: 90%; /* Reduced height */
            filter: brightness(0.4) /* Combined filters */
        }

        .image img {
            position: absolute;
            height: 100%; /* Reduced height */
            /*width: 50vw;*/
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
            clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
        }
        .image  {
            clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
            transition: all 0.3s ease-in-out;
        }

        .image label{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
            background-color: rgb(12,71,185);
            width : 90%;
            padding-right: 10%;
            height: 10%;
            font-size: 2em;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        

        .plan p{
            text-align: center;
        }

        .plan .plan_title{
            font-size: 2em;
            font-weight: 250px;
        }
        .plan .plan_details{
            display: grid;
            grid-template-columns: 40px auto;
            gap: 20px
        }
        .plan .plan_details img{
            width:40;
            height:40;
        }
        .plan .plan_details div{
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 20px;
        }

        @media (max-width: 768px) {
            .image {
                width: 65vw;
            }
            #second {
                top: 5%;
                left: 15%;
            }
            #third {
                top: 10%;
                left: 25%;
            }
 

            #feature_container .container:nth-child(1) {
                background-position: center;
            
            }
            #feature_container .container:nth-child(2) {
                background-position: center;
            }
            #feature_container .container:nth-child(3) {
                background-image: url('office6.jpg');
                background-position: center;
            }
            #feature_container .container:nth-child(4) {
                background-position: center;
            }
            #feature_container .container:nth-child(5) {
                background-position: center;
            }

            #feature_container .container:hover {
                flex-grow: 1; /* Increases width on hover */
            }

            #feature_container {
                display: flex;
                flex-wrap: nowrap; 
                overflow-x: auto; 
                scroll-snap-type: x mandatory; 
                gap: 10px;
                padding-bottom: 10px; 
            }

            #feature_container .container{
                min-width: 300px;
                scroll-snap-align: center;
            }

            /*#feature_container .container {
                width : calc(100% - 40px);
                padding: 100px 0px;
            }*/

            .plan{
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
            
        }
   
    </style>
    <body class="asap-condensed-regular">
        <div style="text-align: right;width: calc(100% - 10px);">
            <a style="text-align: right;width: 100%;all:unset;color:white;cursor: pointer;margin-right: 20px;" href="/log-in">Log In</a>
            <a style="text-align: right;width: 100%;all:unset;color:white;cursor: pointer;" href="/scan">Scan</a>
        </div>
        <h1 style="font-size: 7em;display: flex;align-items: center;margin-left: 30px;filter: drop-shadow(-5px 5px 5px black);"><img src="logo.svg" style="height:1em;">Welcome</h1>
        <h2 style="margin: 0px;text-indent: 180px;position: relative;top:-15px" class="color_white asap-condensed-extralight">Let 's elevate your business</h1>
        <div class="gallery">
            <div id="first" class="image">
                <img  src="office1.svg">
                <label class="asap-condensed-extralight color_white">Increased Proactivity</label>
            </div>
            <div id="second" class="image">
                <img  src="business efficiency.svg">
                <label class="asap-condensed-extralight color_white">Efficiency</label>
            </div>
            <div id="third" class="image">
                <img  src="organized2.svg">
                <label class="asap-condensed-extralight color_white">Structure</label>
            </div>
        </div>
        <div style="display: flex;justify-content: flex-end;">
            <div class="glass_effect_1" style="border-radius: 0;width: 50%; margin: 50px 0px;">
                <h2 style="text-align: left;padding-left: 20px;margin: 20px 0px 0px 0px;" class="color_white">Our Features</h2>
                <div  style="color:rgba(180, 180, 180, 0.759);padding-bottom: 20px;padding-left: 20px;">find the one that fits to your needs</div>
            </div>
        </div>
        
        <div id="feature_container">
            <div class="container">
                <div class="feature_img" id="f_img_1"></div>
                <h3>Data Entering</h3>
                <div class="feature_text glass_effect_1">
                    Our ERP platform empowers you to seamlessly manage your inventory, warehouses, suppliers, and clients—all in one place. Track every movement in real time for complete control and efficiency.
                </div>

            </div>
            <div class=" container">
                <div class="feature_img" id="f_img_2"></div>
                <h3 >Complete History</h3>
                <div class="feature_text glass_effect_1">Our ERP platform provides a complete history of all operations, giving you full visibility and control. Monitor everything in real time—from inventory movements, sales, and warehouse operations to employee clock-ins, clock-outs, leaves, and workdays. Stay informed and make data-driven decisions with ease.</div>
            </div>
            <div class="container">
                <div class="feature_img" id="f_img_3"></div>
                <h3>Work Card Scan</h3>
                <div class="feature_text glass_effect_1">
                    We provide a modern QR card system for seamless employee clock-ins and clock-outs. Track workdays, leaves, and attendance effortlessly while maintaining a complete history of all operations, including inventory movements, sales, and warehouse activity. Stay in control with real-time monitoring and data-driven insights.
                </div>
            </div>
            <div class="container">
                <div class="feature_img" id="f_img_4"></div>
                <h3>Work Schedule</h3>
                <div class="feature_text glass_effect_1">Easily manage work schedules with our ERP platform. Assign shifts, track attendance, and monitor employee clock-ins and clock-outs with our modern QR card system. Keep a complete history of workdays, leaves, sales, inventory movements, and warehouse activity—all in real time.</div>
            </div>
            <div class="container">
                <div class="feature_img" id="f_img_5"></div>
                <h3>Payroll / Pay Monitor</h3>
                <div class="feature_text glass_effect_1">Our ERP platform features **Pay Monitoring**, allowing you to track all payments, pay-ups, and outstanding balances with real-time insights. Monitor financial transactions alongside employee time in the company, including clock-ins, clock-outs, and overall attendance. Stay in control of both finances and workforce management effortlessly.</div>
            </div>
        </div>

        <div style="display: flex;">
            <div class="glass_effect_1" style="border-radius: 0;width: 50%; margin: 50px 0px;">
                <h2 style="text-align: left;padding-left: 20px;margin: 20px 0px 0px 0px;" class="color_white">Our Plans</h2>
                <div  style="color:rgba(180, 180, 180, 0.759);padding-bottom: 20px;padding-left: 20px;">find the one that fits to your needs</div>
            </div>
        </div>
        <div id="prices_conatainer" >
            <div class="container glass_effect_2 plan">
                <p class="plan_title">Basic</p>
                <div class="plan_details">
                    <img src="https://img.icons8.com/ios-glyphs/40/018511/checked--v1.png" alt="checked--v1"/>
                    <div>1 User Owner</div>
                    <img src="https://img.icons8.com/sf-black-filled/40/850101/xbox-x.png" alt="xbox-x"/>
                    <div>0 User Employees</div>
                </div>
                <button style="width: 60%;margin-top: 20px;" class="button_1" onclick="window.location.href = '/sign-up'">Sign Up</button>
            </div>
            <div class="container glass_effect_2 plan">
                <p class="plan_title">Enterprise</p>
                <div class="plan_details">
                    <img src="https://img.icons8.com/ios-glyphs/40/018511/checked--v1.png" alt="checked--v1"/>
                    <div>1 User Owner</div>
                    <img src="https://img.icons8.com/ios-glyphs/40/018511/checked--v1.png" alt="checked--v1"/>
                    <div>5 Extra Users</div>
                </div>
                <button style="width: 60%;margin-top: 20px;" class="button_1" onclick="window.location.href = '/sign-up'">Sign Up</button>
            </div>
            <div class="container glass_effect_2 plan">
                <p class="plan_title">Full</p>
                <div class="plan_details">
                    <img src="https://img.icons8.com/ios-glyphs/40/018511/checked--v1.png" alt="checked--v1"/>
                    <div>1 User Owner</div>
                    <img src="https://img.icons8.com/ios-glyphs/40/018511/checked--v1.png" alt="checked--v1"/>
                    <div>50 User Employees</div>
                </div>
                <button style="width: 60%;margin-top: 20px;" class="button_1" onclick="window.location.href = '/sign-up'">Sign Up</button>
            </div>
        </div>
    </body>
    <footer class="glass_effect_1" style="font-size: 1.2em;margin-top: 100px;padding: 50px;border-radius: 0px; display: flex; flex-direction: column; align-items: left;">
        <span>Contact:</span>
        <span style="display: flex;align-items: center;"><img width="30" height="30" src="https://img.icons8.com/pastel-glyph/30/FFFFFF/secured-letter--v1.png" alt="secured-letter--v1"/>Email : nektarios00007@gmail.com</span>
        <span style="display: flex;align-items: center;"><img width="30" height="30" src="https://img.icons8.com/ios/30/FFFFFF/apple-phone.png" alt="apple-phone"/>Phone : 6948422468</span>
        <span class="color_white" style="width: 100%;text-align: center;text-shadow: -5px 5px 5px black;margin-top: 20px;">This page was created for the graduate thesis of Nektarios Papagalakis.</span>
    </footer>
    
    <script>
        $(document).ready(function(){
            // Get the 'message' query parameter from the URL
            const urlParams = new URLSearchParams(window.location.search);

            $("#first").hover(
                function() {
                    $("#first label").css({
                        'font-size': '3em',
                        'height': '15%',
                    });
                },
                function() {
                    $("#first label").css({
                        'font-size': '2em',
                        'height': '10%',
                    });
                }
            );

            $("#second").hover(
                function() {
                    $("#first,#first img").css({
                        'width': '15vw',
                        'clip-path': 'polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%)',
                        'filter': 'brightness(0.6)',
                    });
                    $("#second").css({
                        'filter': 'brightness(1)',
                        'height': '100%',
                        'top': '0%'
                    });
                    $("#second label").css({
                        'font-size': '3em',
                        'height': '15%',
                    });
                },
                function() {
                    $("#first,#first img").css({
                        'width': '50vw',
                        'height': '100%',
                        'top': '0%', // Keep only one top value
                        'clip-path': 'polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%)',
                        'filter': 'brightness(1)',
                    });
                    $("#second").css({
                        'filter': 'brightness(0.6)',
                        'height': '95%',
                        'top': '5%'
                    });
                    $("#second label").css({
                        'font-size': '2em',
                        'height': '10%',
                    });
                }
            );
            $("#third").hover(
                function () {
                    // First, change #first
                    $("#first, #first img, #second, #second img").css({
                        'width': '15vw',
                        'clip-path': 'polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%)',
                        'height': '100%',
                        'top': '0%'
                    });
                    $("#first").css({
                        'filter': 'brightness(0.2)',
                    });
                    $("#second").css({
                        'filter': 'brightness(0.4)',
                        'height': '100%',
                    });
                    $("#third").css({
                        'filter': 'brightness(1)',
                        'height': '100%',
                        'top': '0%',
                    });
                    $("#third label").css({
                        'font-size': '3em',
                        'height': '15%',
                    });
                    $("#second label").text("Proactivity")
                },
                function () {
                    // Reset both when not hovering
                    $("#first, #first img, #second, #second img").css({
                        'width': '50vw',
                        'height': '100%',
                        'top': '0%',
                        'clip-path': 'polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%)',
                        
                    });
                    $("#first").css({
                        'filter': 'brightness(1)',
                    });

                    $("#second").css({
                        'height': '95%',
                        'top': '5%',
                        'filter': 'brightness(0.6)',
                    });
                    $("#third").css({
                        'filter': 'brightness(0.4)',
                        'height': '90%',
                        'top': '10%'
                    });
                    $("#third label").css({
                        'font-size': '2em',
                        'height': '10%',
                    });
                    $("#second label").text("Increased Proactivity")
                }
            );
            
            $("#feature_container .container").hover(
                function () {
                    if (window.innerWidth > 725) {
                        $("#feature_container .container").not(this).css('margin-bottom', '100px');
                        
                        $(this).css({
                            'height': '400px',
                            'align-items': 'center'
                        });

                        // Ενεργοποίηση του χρώματος στη feature_img
                        $(this).children(".feature_img:first").css({
                            'filter': 'grayscale(0%)'
                        })

                        $(this).children(".feature_text").fadeIn();
                    }
                },
                function () {
                    if (window.innerWidth > 725) {
                        $("#feature_container .container").not(this).css('margin-bottom', '0px');

                        $(this).css({
                            'height': '300px', 
                            'align-items': 'flex-start' // Διόρθωση από 'top'
                        });

                        // Μετατροπή εικόνας ξανά σε ασπρόμαυρη
                        $(this).children(".feature_img:first").css({
                            'filter': 'grayscale(100%)'
                        });

                        // Επαναφορά του feature_img

                        $(this).children(".feature_text").fadeOut();
                    }
                }
            );




        });
    </script>
</html>