<!DOCTYPE html>
<html>
    <head>
        <title>Σύνδεση</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
    </head>
    <body>
        <div class="display_block">
            <h1>Σύνδεση</h1>
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="email">
            <label for="password">Κωδικός</label>
            <input type="password" id="password" placeholder="Κωδικός">
            <button>Σύνδεση</button>
            <button id="sing_up_btn">Εγγραφή</button>
        </div>
    </body>
    <script>
        $(document).ready(function(){
          $("#sing_up_btn").click(function(){
            window.location ="sing-up"
          });
        });
    </script>
</html>