<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="logo.svg">

        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="log_in_css.css">
        <link rel="stylesheet" href="fonts_css.css">

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">

        <!-- QR Code Scanner Library -->
        <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    </head>
    <body>
        <div class="glass_container" id="log_in_container">
            <form class="display_block asap-condensed-regular" action="/log-in" method="POST">
                <h1>Log in</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                  <% } %>
                <div class="input_container">
                    <input class="input_type_1" type="text" id="email" placeholder=" " name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input_container">
                    <input class="input_type_1" type="password" id="password" placeholder=" " name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="checkbox_container">
                    <input type="checkbox" id="showpasswordcheckbox">
                    <label for="showpasswordcheckbox">Show password</label>
                </div>
                <button class="btn_type_1" id="log_in_btn" type="submit">Log in</button>
            </form>
            <div id="reader" width="600px"></div>
            <button class="btn_type_2" id="sign_up_btn">Sign Up</button>
            <button class="btn_type_3" id="forgot_passsword_btn">Forgot my password</button>
            <br><br>
            <hr style="border-color: black;">
            <button class="btn_type_3" id="scan_qr_btn">Scan QR Code</button>

        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script>
        $(document).ready(function() {
            gsap.fromTo("#log_in_container", 
                    { opacity: 0, y: 20, scale: 0.9, display: "none" }, 
                    { opacity: 1, y: 0, scale: 1, display: "block", duration: 0.5, ease: "power2.out" }
                );
            // Button actions
            $("#sign_up_btn").click(function() {
                window.location = "sign-up";
            });
            $("#forgot_passsword_btn").click(function() {
                window.location = "forgot-password";
            });
            $("#scan_qr_btn").click(function() {
                window.location = "/index?scan=tue";
            });
            $("#showpasswordcheckbox").click(function() {
                const passwordInput = $("#password");
                const isChecked = $(this).prop("checked");
                passwordInput.prop("type", isChecked ? "text" : "password");
            });

            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get("message") == "success_sign_up") {
                alert("Sign up was successful. You can now log in.");
            }
            
        });
    </script>
</html>
