<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
    </head>
    <body>
         <form class="display_block" action="/reset-password" method="POST" >
            <h1>Reset Password</h1>
            <input type="hidden" name="token" value="<%= token %>">
            <input type="password" id="password" name="password" placeholder="password" required>
            <label for="confirmPassword">Show Password</label><input type="checkbox" id="showpasswordcheckbox">
            <button type="submit">Reset</button>
        </form>
        <button id="sign_up_btn">Sign Up</button>
    </body>
    <script>
        $(document).ready(function(){
          $("#sign_up_btn").click(function(){
            window.location ="sign-up"
          });
          $("#showpasswordcheckbox").click(function(){
            const passwordInput = $("#password");
            const isChecked = $(this).prop("checked");
            passwordInput.prop("type", isChecked ? "text" : "password");
          });
        });
    </script>
</html>