<!DOCTYPE html>
<html>
  <head>
    <title>Εγγραφή</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
  </head>
<body>
  <h1>Εγγραφή</h1>
  <button id ="user_btn">Χρήστης</button>
  <button id ="accountant_btn">Λογιστής</button>
  <form class="display_block" action="/sign-up" method="POST" >
    <!--User-->
    <h2 id="h2">Χρήστης</h2>
    <input type="text" id="account_type" name="account_type" value="user" required>
    <label for="firstName">Όνομα</label>
    <input type="text" name="firstName" id="firstName" placeholder="Όνομα" required>
    <label for="lastName">Επίθετο</label>
    <input type="text" name="lastName" id="lastName" placeholder="Επίθετο" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="email" required>
    <label for="password">Κωδικός</label>
    <input type="password" id="password" name="password" placeholder="Κωδικός" required>
    <label for="password_confirm">Επιβεβαίωση Κωδικού</label>
    <input type="password" id="password_confirm" name="password_confirm" placeholder="Κωδικός" required>
    <div class="checkbox_conatainer">
      <input type="checkbox" id="showpasswordcheckbox">
      <label for="showpasswordcheckbox">Εμφάνηση Κωδικού</label>
    </div>
    <span id="admin_hide">
      <label for="afm">Α.Φ.Μ.</label>
      <input type="text"id="afm" name="afm" placeholder="Α.Φ.Μ.">

      <label for="mydatakey">Κλειδί MyData (προαιρετικό)</label>
      <input type="text" name="mydatakey" id="mydatakey" placeholder="Κλειδί MyData (προαιρετικό)">
      <span id="accountant_hide">
        <span style="display: flex;">
          <button type="button" id="newCompanybtn">Νέα Εταιρία</button>
          <button type="button" id="existingCompanybtn">Υπάρχουσα Εταιρία</button>
          <input id="companyNewExisting" name="companyNewExisting" value="-1">
        </span>
        <label for="companyName">'Ονομα εταιρείας:</label>
        <input type="text" name="companyName" id="companyName">
        <span id="newCompany" style="display: none;">
          <label for="companyLogo">Λογότυπο εταιρείας :</label>
          <input type="file" name="companyLogo" id="companyLogo">
        </span>
        <span id="existingCompany" style="display: none;">
          <label for="companyRegisterCode">Κωδικός Εταιρείας:</label>
          <input type="text" name="companyRegisterCode" id="companyRegisterCode">
        </span>

        <div class="checkbox_conatainer">
          <input type="checkbox" id="self_accountant_check_box">
          <label for="self_accountant_check_box">Αυτοδιαχείριση Λογιστικών :</label>
          <input style="display: none;" type="text" name="self_accountant" id="self_accountant" value="false">
        </div>
      </span>
    </span>
    <button style="display: none;" id="submit_btn" type="submit">Εγγραφή</button>
  </form>
  <button id="sign_up_btn">Εγγραφή</button>
  <button id="log_in_btn">Σύνδεση</button>
</body>
<script>
  $(document).ready(function(){
    const urlParams = new URLSearchParams(window.location.search);
    const isAdmin = urlParams.get("admin") === "true";

    const users_list = JSON.parse(`<%- JSON.stringify(users_list) %>`);
    const companies_list = JSON.parse(`<%- JSON.stringify(companies) %>`);

    if(isAdmin){
      $("#companyName").prop("required", false);
      $("#user_btn").hide();
      $("#accountant_btn").hide();
      $("#h2").text("Διαχειριστής");
      $("#account_type").val("admin");
      
      $("#admin_hide").hide();
    }

    $("#log_in_btn").click(function(){
      window.location ="log-in"
    });

    $("#user_btn").click(function(){
      $("#h2").text("Χρήστης");
      $("#account_type").val("user");
      $("#accountant_hide").show();
    });
    $("#accountant_btn").click(function(){
      $("#h2").text("Λογιστής");
      $("#account_type").val("accountant");
      $("#accountant_hide").hide();
    });
    $("#showpasswordcheckbox").click(function(){
      const passwordInput = $("#password");
      const passwordConfirmInput = $("#password_confirm");
      const isChecked = $(this).prop("checked");
      passwordInput.prop("type", isChecked ? "text" : "password");
      passwordConfirmInput.prop("type", isChecked ? "text" : "password");
    });
    $("#self_accountant_check_box").change(function() {
        const isChecked = $(this).prop("checked");
        $("#self_accountant").val(isChecked ? "true" : "false");
    });
    $("#newCompanybtn").click(function() {
        $('#newCompany').css('display', 'block');
        $('#existingCompany').css('display', 'none');
        $('#newCompanybtn').css('font-weight', 'bold');
        $('#existingCompanybtn').css('font-weight', 'normal');
        $('#companyNewExisting').val("0");
    });
    $("#existingCompanybtn").click(function() {
        $('#newCompany').css('display', 'none');
        $('#existingCompany').css('display', 'block');
        $('#newCompanybtn').css('font-weight', 'normal');
        $('#existingCompanybtn').css('font-weight', 'bold');
        $('#companyNewExisting').val("1");
    });
    $("#sign_up_btn").click(function(){
      var all_checks_ok = true;
      const passwordInput = $("#password").val();
      const passwordConfirmInput = $("#password_confirm").val();

      if (passwordInput !== passwordConfirmInput) {
        // Passwords do not match, show an error message or take appropriate action
        alert("Οι κωδικοί δεν ταιριάζουν. Παρακαλούμε ελέγξτε ξανά.");
        $("#password").val("").focus()
        all_checks_ok = false;
      }

      users_list.forEach(user => {
        if (user.email === $("#email").val()) {
          alert("Email already exists")
          all_checks_ok = false;
          if(all_checks_ok){
            $("#email").val("").focus();
          }else{
            $("#email").val("");
          }
        }
      });

      if($('#companyNewExisting')==0){
        companies_list.forEach(copmany => {
          if (copmany.name === $("#companyName").val() || company.signupcode === $("#companyRegisterCode").val()) {
            alert("Company already exists");
            $("#companyName").val("").focus();
            all_checks_ok = false;
            //return false; // exit loop
          }
        });
      }
      else if($('#companyNewExisting')==1){
        companies_list.forEach(copmany => {
          if (copmany.name === $("#companyName").val()) {
            if(copmany.signupcode != $("#companyRegisterCode").val()){
              alert("Company Name and Registration Code does not match");
              $("#companyRegisterCode").val("").focus();
              all_checks_ok = false;
            }
          }
        });
        if(companies_list.length() == 0){
          alert("There is no companies created");
          $("#companyName").val("").focus();
          $("#companyRegisterCode").val("");
          all_checks_ok = false;
        }
      }
      else if($('#companyNewExisting')==-1){
        alert("Must Choose a Company");
        all_checks_ok = false;
      }

      if(all_checks_ok){
        // If passwords match, submit the form
        $("#submit_btn").click();
      }
      
    });

  });
</script>
</html>