<!DOCTYPE html>
<html>
  <head>
    <title>Εγγραφή</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
  </head>
<body>
  <h1>Εγγραφή</h1>
  <button id ="user_btn">Χρήστης</button>
  <button id ="accountant_btn">Λογιστής</button>
  <form class="display_block" action="/sign-up" method="POST" >
    <!--User-->
    <h2 id="h2">Χρήστης</h2>
    <input type="text" id="account_type" name="account_type" value="user" required>
    <label for="firstName">Όνομα</label>
    <input type="text" name="firstName" id="firstName" placeholder="Όνομα" required>
    <label for="lastName">Επίθετο</label>
    <input type="text" name="lastName" id="lastName" placeholder="Επίθετο" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="email" required>
    <label for="password">Κωδικός</label>
    <input type="password" id="password" name="password" placeholder="Κωδικός" required>
    <label for="password_confirm">Επιβεβαίωση Κωδικού</label>
    <input type="password" id="password_confirm" name="password_confirm" placeholder="Κωδικός" required>
    <label for="showpasswordcheckbox">Εμφάνηση Κωδικού</label><input type="checkbox" id="showpasswordcheckbox">
    <span id="admin_hide">
      <label for="afm">Α.Φ.Μ.</label>
      <input type="text"id="afm" name="afm" placeholder="Α.Φ.Μ.">

      <label for="mydatakey">Κλειδί MyData (προαιρετικό)</label>
      <input type="text" name="mydatakey" id="mydatakey" placeholder="Κλειδί MyData (προαιρετικό)">
      <span id="accountant_hide">
        <label for="companyName">'Ονομα εταιρείας:</label>
        <input type="text" name="companyName" id="companyName">
        <label for="companyLogo">Λογότυπο εταιρείας :</label>
        <input type="text" name="companyLogo" id="companyLogo">
        <label for="self_accountant_check_box">Αυτοδιαχείριση λογιστικών :</label>
        <input type="checkbox" id="self_accountant_check_box">
        <input type="text" name="self_accountant" id="self_accountant" value="false">
      </span>
    </span>
    <button style="display: none;" id="submit_btn" type="submit">Εγγραφή</button>
  </form>
  <button id="sign_up_btn">Εγγραφή</button>
  <button id="log_in_btn">Σύνδεση</button>
</body>
<script>
  $(document).ready(function(){
    const urlParams = new URLSearchParams(window.location.search);
    const isAdmin = urlParams.get("admin") === "true";
    if(isAdmin){
      $("#companyName").prop("required", false);
      $("#user_btn").hide();
      $("#accountant_btn").hide();
      $("#h2").text("Διαχειριστής");
      $("#account_type").val("admin");
      
      $("#admin_hide").hide();
    }

    $("#log_in_btn").click(function(){
      window.location ="log-in"
    });
    $("#user_btn").click(function(){
      $("#h2").text("Χρήστης");
      $("#account_type").val("user");
      $("#accountant_hide").show();
    });
    $("#accountant_btn").click(function(){
      $("#h2").text("Λογιστής");
      $("#account_type").val("accountant");
      $("#accountant_hide").hide();
    });
    $("#showpasswordcheckbox").click(function(){
      const passwordInput = $("#password");
      const passwordConfirmInput = $("#password_confirm");
      const isChecked = $(this).prop("checked");
      passwordInput.prop("type", isChecked ? "text" : "password");
      passwordConfirmInput.prop("type", isChecked ? "text" : "password");
    });
    $("#self_accountant_check_box").change(function() {
        const isChecked = $(this).prop("checked");
        $("#self_accountant").val(isChecked ? "true" : "false");
    });
    $("#sign_up_btn").click(function(){
      const passwordInput = $("#password").val();
      const passwordConfirmInput = $("#password_confirm").val();

      if (passwordInput !== passwordConfirmInput) {
        // Passwords do not match, show an error message or take appropriate action
        alert("Οι κωδικοί δεν ταιριάζουν. Παρακαλούμε ελέγξτε ξανά.");
        return false; // Prevent form submission
      }

      // If passwords match, submit the form
      $("#submit_btn").click();
    });

  });
</script>
</html>