<!DOCTYPE html>
<html>
  <head>
    <title>Εγγραφή</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
  </head>
<body>
  <h1>Εγγραφή</h1>
   <input type="text" id="accounttype" name="accounttype" value="">
    <button id ="user_btn">Χρήστης</button>
    <button id ="accountant_btn">Λογιστής</button>
  <form class="display_block" action="/sing_up" method="POST" >
    <!--User-->
    <div id="user_sing_up">
      <h2>Χρήστης</h2>
      <label for="firstName">Όνομα</label>
      <input type="text" id="firstName" name="firstName" placeholder="Όνομα">
      <label for="lastName">Επίθετο</label>
      <input type="text" id="lastName" name="lastName" placeholder="Επίθετο">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="email">
      <label for="afm">Α.Φ.Μ.</label>
      <input type="text" id="afm" name="afm" placeholder="Α.Φ.Μ.">
      <label for="mydatakey">Κλειδί MyData (προαιρετικό)</label>
      <input type="text" id="mydatakey" name="mydatakey" placeholder="Κλειδί MyData (προαιρετικό)">
      <label for="companyName">'Ονομα εταιρείας:</label>
      <input type="text" id="companyName" name="companyName" required>
      <label for="companyLogo">Λογότυπο εταιρείας :</label>
      <input type="text" id="companyLogo" name="companyLogo" required>
    </div>
    <!--Acountant-->
    <div id="acountant_sing_up">
      <h2>Λογιστής</h2>
    </div>
    <button type="submit">Εγγραφή</button>
  </form>
  <button id="log_in_btn">Σύνδεση</button>
</body>
<script>
  $(document).ready(function(){
    $("#log_in_btn").click(function(){
      window.location ="log-in"
    });
    $("#user_btn").click(function(){
      $("#accounttype").val("user");
      $("#user_sing_up").show();
      $("#acountant_sing_up").hide();
    });
    $("#accountant_btn").click(function(){
      $("#accounttype").val("accountant")
      $("#user_sing_up").hide();
      $("#acountant_sing_up").show();
    });
  });
</script>
</html>