<!DOCTYPE html>
<html>
<head>
<title>Εγγραφή</title>
</head>
<body>
<div class="signup-form">
  <h1>Εγγραφή</h1>
  <label for="firstname">Όνομα</label>
  <input type="text" id="firstname" placeholder="Όνομα">
  <label for="lastname">Επίθετο</label>
  <input type="text" id="lastname" placeholder="Επίθετο">
  <label for="email">Email</label>
  <input type="email" id="email" placeholder="email">
  <label for="afm">Α.Φ.Μ.</label>
  <input type="text" id="afm" placeholder="Α.Φ.Μ.">
  <label for="mydatakey">Κλειδί MyData (προαιρετικό)</label>
  <input type="text" id="mydatakey" placeholder="Κλειδί MyData (προαιρετικό)">
  <label for="privileges">Λογιστής
  </label>
  <input type="checkbox" id="privileges" name="privileges" value="accountant">
  <label for="price">Τιμή (αν είναι Λογιστής)</label>
  <input type="number" id="price" placeholder="Τιμή (αν είναι Λογιστής)">
  <button>Εγγραφή</button>
  <button>Σύνδεση</button>
</div>
</body>
</html>