<!DOCTYPE html>
<html>
<head>
<title>Εγγραφή</title>
</head>
<body>
  <h1>Εγγραφή</h1>
  <form action="/sing_up" method="POST">
    <label for="firstname">Όνομα</label>
    <input type="text" id="firstname" name="firstname" placeholder="Όνομα">
    <label for="lastname">Επίθετο</label>
    <input type="text" id="lastname" name="lastname" placeholder="Επίθετο">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="email">
    <label for="afm">Α.Φ.Μ.</label>
    <input type="text" id="afm" name="afm" placeholder="Α.Φ.Μ.">
    <label for="mydatakey">Κλειδί MyData (προαιρετικό)</label>
    <input type="text" id="mydatakey" name="mydatakey" placeholder="Κλειδί MyData (προαιρετικό)">
    <label for="privileges">Λογιστής</label>
    <input type="checkbox" id="privileges" name="privileges" value="accountant">
    <label for="price">Τιμή (αν είναι Λογιστής)</label>
    <input type="number" id="price" name="price" placeholder="Τιμή (αν είναι Λογιστής)">
    <button type="submit">Εγγραφή</button>
  </form>
  <a href="/log_in">Σύνδεση</a>
</body>
</html>