<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body id="jjjj" name="jjjj">
    <h1>Accountant main page</h1>
    <h2>Welcome Username</h2>
    <div id="assignments-div" name="assignments-div">
        <h2>current assignments will go here</h2>
    </div>
    <div id="pages-div" name="pages-div">
        <a href="working">working page</a>
        <a href="clients">client list</a>
        <a href="assignment-history">assignment history</a>
    </div>
    
</body>

</html>