<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigmnet history</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body>
    <h1>Past Assignments</h1>
    <ul>
        <li>assignment 1</li>
        <li>assignment 2</li>
        <li>assignment 3</li>
    </ul>
</body>
</html>