<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients Page</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body>
    <h1>List Of Current Clients</h1>
    <ul>
        <li><a href="client-profile">Client 1</a></li>
        <li><a href="client-profile">Client 2</a></li>
        <li><a href="client-profile">Client 3</a></li>
    </ul>
    <h1>List Of Hiring Requests</h1>
    <ul>
        <li><a href="">Req 1</a></li>
        <li><a href="">Req 2</a></li>
        <li><a href="">Req 3</a></li>
    </ul>
</body>
</html>