<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Δημιουργία</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="clients_page_css.css">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <nav>
            <button id="warehouse_btn">Αποθήκη</button>
            <button id="series_btn">Σειρά</button>
        </nav>
        <h1 id="header1"></h1>
        <form action="/create/warehouse" method="POST" id="warehouse_div">
            <label>Τίτλος : </label>
            <input type="text" name="warehouse_title">
            <label>Τοποθεσία : </label>
            <input type="text" name="warehouse_location">
            <button type="submit">Submit</button>
        </form>
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){

            $("#back_btn").click(function(){
                    window.location ="/"
            });

            $("#warehouse_btn").click(function(){
                $("#header1").text("Δημιουργία Αποθήκης");
            });
            $("#series_btn").click(function(){
                $("#header1").text("Δημιουργία Σειράς");
            });
        });
    </script>
</html>