<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Δημιουργία</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="create_page.css">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <nav>
            <button id="warehouse_btn">Αποθήκη</button>
            <button id="series_btn">Σειρά</button>
        </nav>
        <div id="pick_client">
            <div>Name</div>
            <div>Button</div>
        </div>
        <div id="container" style="display: none;">
        <h1 id="header1"></h1>
            <form action="/create/warehouse" method="POST" id="warehouse_div">
                <label>Τίτλος : </label>
                <input type="text" name="warehouse_title">
                <label>Τοποθεσία : </label>
                <input type="text" name="warehouse_location">
                <button type="submit">Submit</button>
            </form>
        </div>
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){

            clients_list = JSON.parse(`<%- JSON.stringify(clients) %>`);
            var counter = 0;
            if (clients_list.length > 0) {
                //$("#pick_client").empty(); // Clear the default message
                clients_list.forEach(client => {
                    counter++;
                    const client_div = $("<div>").attr("id", "client_" + counter.toString()).html(
                         client.firstName + " " + client.lastName 
                    );
                    const client_button = $("<button>").text(counter.toString()).click((function(index) {
                        return function() {
                            pick_client(index);
                        };
                    })(counter));

                    $("#pick_client").append(client_div);
                    $("#pick_client").append(client_button);
                    
                });
            }

            $("#back_btn").click(function(){
                    window.location ="/"
            });

            $("#warehouse_btn").click(function(){
                $("#header1").text("Δημιουργία Αποθήκης");
            });
            $("#series_btn").click(function(){
                $("#header1").text("Δημιουργία Σειράς");
            });
            function pick_client(index){
                alert(index);
            }
        });
    </script>
</html>