<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Form</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body>
    <h1>Report Client</h1>
    <form action="">
        <h2>Select Reason For Report</h2>
        <input type="radio" name="report-client-radio" id="report-client-radio-opt1" value="1">
        <label for="report-client-radio-opt1">ONE</label><br>
        <input type="radio" name="report-client-radio" id="report-client-radio-opt2" value="2">
        <label for="report-client-radio-opt2">TWO</label><br>
        <input type="radio" name="report-client-radio" id="report-client-radio-opt3" value="3">
        <label for="report-client-radio-opt3">THREE</label><br>
        <input type="radio" name="report-client-radio" id="report-client-radio-opt4" value="4">
        <label for="report-client-radio-opt4">FOUR</label><br>
        <hr>
        <h2>Describe The Problem</h2>
        <textarea name="report-text-area" id="report-text-area" cols="30" rows="10"></textarea><br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>