<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Page</title>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</head>
<body>
    <h1>This will be the working page</h1>
    <div id="income-div" name="income-div">
        <h2>Income Stuff</h2>
    </div>
    <hr>
    <div id="expenses-div" name="expenses-div">
        <h2>Expenses Stuff</h2>
    </div>
</body>
</html>