<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>U Main Page</title>
        <%- include('../partials/header'); %>
        <%- include('../partials/footer'); %>
    </head>
    <!--body id="jjjj" name="jjjj"-->
    <body>
        <h1>User main page</h1>
        <h2>Welcome Username</h2>
        
    </body>

</html>