<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U Main Page</title>
    <link rel="icon" type="image/x-icon" href="logo.svg">

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="fonts_css.css">
    <link rel="stylesheet" href="buttons_css.css">


    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />

    <script type="text/javascript" src="JSFrontEndFunctions.js"></script>

    <%- include('../partials/header'); %>
  </head>
  <body>
    <div class="has_sidebar asap-condensed-regular">
      <%- include('../partials/sidebar'); %>
      <div  class="has_sidebar_main_content">
        <h1>Welcome </h1>
        <button class="button_1" id="my_accountant">My Accountant</button>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $("#my_accountant").click(function () {
        if ("<%= user.companyOwner %>" == "0") {
          alert("You do not have an accountant elevated rights to hire an accountant");
        } else {
          window.location = "my-accountant";
        }
      });
      $("#my_company").click(function () {
        window.location = "my-company";
      });

      if ("<%= user.companyOwner %>" == "0") {
        $("#my_company").hide();
      }
    });
  </script>
</html>
